.service-item-top img {
    transition: .5s;
    
}
.background{
 
  /* padding: 40px; */
 
 
  padding-top: 5% !important;
  padding-bottom: 5% !important;
}
.service-item-top:hover img {
    transform: scale(1.1);
}

.font h4{
  font-size: 30px;
  font-weight: bold;
}
.Form-text {
     font-size: 30px !important;
 
}

.font h3{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #03afa1 !important;
}

.font h6{
  font-size: 20px;
  font-weight: bold;
  color: #03afa1 !important;
}
.service-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  
}
.cost{
color: #85bb65;
}
.service-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--primary);
    border: 5px solid var(--bs-white);
    transition: .5s;
  
}

.service-carousel .owl-dot.active {
    background: var(--bs-white);
    border-color: var(--primary);
}

.card {
    width: 300px;
    margin: 20px auto;
    border: none;
    /* border-radius: 5px !important; */
    overflow: hidden;
    padding: 20px;
    background: #f9f9f9;
  }
  
  .card-img-top {
    width: 100%;
    height: 320px;
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card-price {
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-bottom: 15px;
  }
  
  .Book-button {
    background-color:  var(--primary);
    color: #fff;
    border: none;
    text-decoration: none;
    padding: 10px 65px;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 5px 20px 5px !important;
  }


  .Book-button:hover {
    color: #03afa1;
    background-color: white;
    border: 2px solid #03afa1 ;
  }
 
  
  @media (max-width: 767px) {
    .card {
      width: 90%; /* Adjust the card width to 90% of the container */
      padding: 15px; /* Reduce padding for smaller screens */
    }
    .font h1{
      font-size: 18px;
      font-weight: bold;
    
    }
    
    .card-img-top {
      height: 250px; /* Adjust the height for smaller devices */
    }

  
    .font h3{
      font-size: 16px;
      font-weight: bold;
      color: #03afa1 !important;
    }
    .font h4{
      font-size: 25px;
      font-weight: bold;
     
    }
    .Form-text h4{
     font-size: 25px;

}
    .card-title {
      font-size: 18px; /* Adjust title font size */
    }
  
    .card-price {
      font-size: 16px; /* Adjust price font size */
    }
  
    .Book-button {
      padding: 10px 40px; /* Adjust button padding for smaller devices */
    }
  }


  @media (min-width: 770px)and (max-width: 1000px){
    .card {
      width: 100%; /* Adjust the card width to 90% of the container */
      padding: 15px; /* Reduce padding for smaller screens */
    }
  
    .card-img-top {
      height: 250px; /* Adjust the height for smaller devices */
    }
  
    .card-title {
      font-size: 18px; /* Adjust title font size */
    }
  
    .card-price {
      font-size: 16px; /* Adjust price font size */
    }
  
    .Book-button {
      padding: 10px 40px; /* Adjust button padding for smaller devices */
    }
  }