.font h3,
.font h6 {
  font-weight: 700;
  color: #03afa1 !important
}

.service-item-top img {
  transition: .5s
}

.background {
  padding-top: 5% !important;
  padding-bottom: 5% !important
}

.service-item-top:hover img {
  transform: scale(1.1)
}

.font h4 {
  font-size: 30px;
  font-weight: 700
}

.Form-text {
  font-size: 30px !important
}

.card-title,
.font h3,
.font h6 {
  font-size: 20px
}

.font h3 {
  text-transform: uppercase
}

.service-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center
}

.cost {
  color: #85bb65
}

.service-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #03afa1;
  border: 5px solid #fff;
  transition: .5s
}

.service-carousel .owl-dot.active {
  background: #fff;
  border-color: #03afa1;
}

.card {
  width: 300px;
  margin: 20px auto;
  border: none;
  overflow: hidden;
  padding: 20px;
  background: #f9f9f9
}

.card-img-top {
  width: 100%;
  height: 320px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
  object-fit: cover
}

.card-title {
  font-weight: 600;
  margin-bottom: 10px;
  color: #333
}

.card-price {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 15px
}

.Book-button {
  background-color: #03afa1;
  color: #fff;
  border: 2px solid transparent;
  text-decoration: none;
  padding: 10px 65px;
  width: 100%;
  border-radius: 5px 20px !important
}

.Book-button:hover {
  color: #03afa1;
  background-color: #fff;
  border: 2px solid #03afa1
}

@media (max-width:767px) {

  .font h1,
  .font h3,
  .font h4 {
    font-weight: 700
  }

  .card-title,
  .font h1 {
    font-size: 18px
  }

  .card {
    width: 90%;
    padding: 15px
  }

  .card-img-top {
    height: 250px
  }

  .font h3 {
    font-size: 16px;
    color: #03afa1 !important
  }

  .Form-text h4,
  .font h4 {
    font-size: 25px
  }

  .card-price {
    font-size: 16px
  }

  .Book-button {
    padding: 10px 40px
  }
}

@media (min-width:770px)and (max-width:1000px) {
  .card {
    width: 100%;
    padding: 15px
  }

  .card-img-top {
    height: 250px
  }

  .card-title {
    font-size: 18px
  }

  .card-price {
    font-size: 16px
  }

  .Book-button {
    padding: 10px 40px
  }
}
