/* -------------------------------- 

Primary style

-------------------------------- */
.procedure {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.small-procedure {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;

  display: none !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.centered-heading {
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  margin: 0px 0px 60px 0px;
}

.owl-carousel {
  width: 80%; /* Adjust width as needed */
  margin: 0 auto;
}

.timeline-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 20px;
  gap: 20px;
  scrollbar-width: thin;
}

.timeline-content .P-Card-Heading {
  font-size: 20px !important;
}

.timeline-content p {
  font-size: 16px !important;
}
.step {
  color: white !important;
  margin: 0 !important;
  padding-bottom: 10px !important;
  padding-top: 5px !important;
  padding-left: 5%;
  width: 100% !important;
  text-align: start;
 
  position: absolute;
  bottom: 0; /* Ensures it's at the bottom */
  max-width: 400px;
  background-color: #03afa1;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.timeline-item {
  /* flex: 0 0 auto; */
  /* aspect-ratio: 1 / 1;  */
  width: 400px;
  min-height: 370px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Classic card shadow effect */
  overflow: hidden;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth effect */
}

.timeline-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.timeline-content {
  /* padding: 15px; */
  flex-grow: 1;
}

.timeline-content .P-Card-Heading {
  font-size: 2rem; /* Initial size */
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.timeline-content em {
  display: block;

  color: #666;
  margin-bottom: 10px;
}

.timeline-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}

.timeline-item:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow on hover */
}

@media (max-width: 768px) {
  .timeline-content .P-Card-Heading {
    font-size: 1.5rem; /* Adjust size for smaller screens */
  }

  .procedure {
    display: none !important;
  }
  .small-procedure {
    display: flex !important ;
  }
  .timeline-image {
    height: 150px; /* Resize image for smaller screens */
  }

  .timeline-item {
    width: 90%;
    min-height: 150px !important;
  }
  .centered-heading {
   
    font-size: 25px;
    padding: 0px 30px;
   
 
  margin: 0px 0px 20px 0px !important;

  }
  #offer-section{
      padding: 20px !important;
  }
  .small-procedure{
      padding: 20px !important;
  }
  .procedure {
    padding: 10% !important;
  }
  .timeline-item {
    width: 100%;
    min-height: 330px !important;
  }
}

@media (max-width: 480px) {
  .timeline-content .P-Card-Heading {
    font-size: 1.2rem; /* Further adjust for very small screens */
  }

  .timeline-content p {
    font-size: 0.9rem;
  }
  .procedure {
    padding-left: 5% !important;
  }
  .timeline-item {
    width: 100%;
    flex: 1 calc(30% - 20px) !important;
  }
}

@media screen and (max-width: 990px) and (min-width: 767px) {
  .owl-carousel {
    display: flex;
    flex-wrap: wrap; /* Ensures items wrap to the next row */
    justify-content: space-around;
  }

  .timeline-item {
    width: 100%;

    min-height: 410px !important;
  }

  .timeline-content .P-Card-Heading {
    font-size: 1.2rem;
  }

  .timeline-content p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1190px) and (min-width: 991px) {
  .procedure {
    display: none !important;
  }
  .small-procedure {
    display: flex !important ;
  }
  .step {
    max-width: 520px;
  }
  .timeline-item {
    width: 100%;
    min-height: 360px !important;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1200px) {
  .owl-carousel {
    display: flex;
    flex-wrap: wrap; /* Ensures items wrap to the next row */
    justify-content: space-around;
  }

  .timeline-item {
    width: 100%;

    min-height: 360px !important;
  }

  .timeline-content .P-Card-Heading {
    font-size: 1.2rem;
  }

  .timeline-content p {
    font-size: 0.9rem;
  }
}
