.outer-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px;
 
  padding-top: 5%;
  padding-bottom: 5%;
  background: #f3f3f3;
  border-radius: 20px;
  text-align: center;
  
}

.qa-container {
  max-width: 70%;
  margin: 0 auto;
 
}

.qa-heading {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

.accordion {
  text-align: start;
}

.accordion-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease;
}

/* .accordion-header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background: white;
  color: #333;
} */

.accordion-header {
  display: flex;
  justify-content: space-between; /* Space between h3 and arrow */
  align-items: center;           /* Vertically center align the items */
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background: white;
  color: #333;
  border: 1px solid #ddd;        /* Optional: Add a border for clarity */
}

.accordion-header h6 {
  margin: 0;  
  font-weight: bold;                   /* Remove default margin from h3 */
  font-size: 15px;               /* Ensure consistent sizing */
}

.accordion-bod {
  max-height: 0px;
  overflow: hidden;
  padding: 0px 12px;
 
  background: #fff;
  transition: max-height 0.5s ease, padding 0.3s ease-in-out;
}

.accordion-item.active .accordion-bod {
  max-height: 400px; /* Ensure height fits content */
 
}

.accordion-header .arrow {
  display: inline-block;
  width: 10px;
  padding: 3.5px;
  height: 10px;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.accordion-item.active .arrow {
  transform: rotate(225deg);
}

/* Responsive Design */
@media (max-width: 768px) {
  .qa-container {
    max-width: 100%;
  }
  .qa-heading {
    font-size: 25px;
  }
  .outer-container {
   
    padding:20px;
   
    
  }
  .bg-shaodw {
  
  padding-bottom:20px;
}
}

@media (max-width: 480px) {
  .qa-heading {
    font-size: 1.2rem;
  }
}
