

.laser-container {
    display: flex;
   
    flex-wrap: wrap;
    padding: 0px 90px;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 20px;
    /* background: #f3f3f3; */
   
  
}

.laser-image-section {
    flex: 0.8;
    
   /*width: 50%;*/
    
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right:90px;
   
}



.laser-image-section img {
    width:100%;
    max-width: 600px;
    
    
    height: 100%;
    max-height:800px;
    border-radius: 10px 50px; /* Increased border radius for a softer look */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition effects */
}

.laser-image-section img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}
.laser-content-section {
    flex: 1;
     width: 100%;
    min-width: 260px;
    max-width:1200px;
   
    
    padding: 5px;
    /* padding-right: 40px; */

}

.laser-content-section h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333;
}

.laser-content-section .subH {
    font-size: 20px;
    color:#03afa1;
    margin-bottom: 10px;
}

.laser-content-section p {
    font-size: 18px;
    line-height: 30px;
    
    color: #000000;
    margin-bottom: 20px;
}

.laser-usps {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* .laser-usp {
    flex: 1 1 calc(50% - 10px);
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 50px 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
} */


.laser-usp {
    flex: 1 1 calc(50% - 10px);
    padding: 10px;
    /* background-color: #ffffff; Change background to white for contrast */
    border: 2px solid transparent; /* Transparent border for gradient effect */
    border-radius: 50px 50px 50px 10px; /* Keep rounded corners */
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add soft shadow */
    /* background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to right, #fd690d, #ffcc00); Gradient border */
    background-origin: border-box;
    background-clip: content-box, border-box; /* Clip for gradient effect */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition on hover */
}

.laser-usp img {
    width: 20px;
    height: 20px;
    
}

.laser-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #03afa1;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px 20px 5px !important;
    text-align: center;
    border: 2px solid transparent;
    border-end-end-radius: 20px;
}
.laser-icon{
   color: #03afa1;
}
.laser-button:hover {
   color: #03afa1;
   background-color: white;
   border: 2px solid #03afa1 ;
}


@media (max-width: 768px) {
    .laser-container {
        flex-direction: column; /* Stack elements vertically */
        padding: 20px;
    }

    .laser-content-section h2 {
        order: -1 !important; 
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px; /* Add spacing below the heading */
        color: #333333;
        text-align: start; /* Center the heading for smaller devices */
    }

    .laser-image-section {
        order: 1; /* Image appears below the heading */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-self: center;
        padding: 0;
    }

    .laser-image-section img {
        max-width: 300px !important;
        height: auto;
        text-align: center;
        margin-bottom: 20px; /* Add spacing below the image */
    }

    .laser-content-section {
        order: 2; /* Content appears last */
      
    }

    .laser-content-section .subH {
        font-size: 18px;
        color: #03afa1;
    }

    .laser-content-section p {
        font-size: 15px;
        line-height: 25px;

        margin-bottom: 15px;
    }

    .laser-usp {
        flex: 1 1 100%; /* Ensure USP items stack for smaller screens */
        margin-bottom: 10px;
    }

    .laser-button {
        margin-top: 20px;
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (min-width: 768px) and (max-width: 1100px) {
    .laser-container {
        flex-direction: column; /* Stack elements vertically for medium devices */
        padding: 20px 40px;
    }

    /*.Machine-content{*/
    /*    max-width: 500px !important;*/
    /*}*/
    .laser-image-section {
        order: 1; /* Ensure the image appears below the heading */
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        padding: 0;
    }

    .laser-image-section img {
        max-width: 400px;
        height: auto;
    }

    .laser-content-section {
        order: 2; /* Content appears last */
        padding: 0px; /* Add more padding for better spacing */
    }

    .laser-content-section h2 {
        padding-top: 5%;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #333333;
        text-align: center; /* Center the heading for medium devices */
    }

    .laser-usp {
        flex: 1 1 100%; /* Ensure USP items stack for medium screens */
        margin-bottom: 10px;
    }
}


/* @media (max-width: 768px) {
    .laser-container {
        flex-direction: column;
        padding: 20px 20px;
       
    }
    .laser-content-section h1 {
        font-size: 18px;
       
    }
    .laser-content-section p {
        font-size: 15px;
        line-height: 25px;
        font-weight: 300;
        color: #000000;
        margin-bottom: 20px;
    }

    .laser-content-section h2 {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333333;
    }
    
    .laser-image-section {
       
       
        padding: 0px;
        
    }
    .laser-image-section img {
        max-width: 200px;
        height: auto;
       
    }
    .laser-image-section {
      
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    .laser-image-section, .laser-content-section {
        max-width: 100%;
        align-self: center;
        
    }

    .laser-usp {
        flex: 1 1 100%;
    }
    .laser-content-section {
        flex: 1;
       
        max-width: 100%;
       
        padding: 5px;
        padding-top: 5%;
    }
} */

/* @media (min-width: 768px) and (max-width: 1200px) {
   
    .laser-container {
        flex-direction: column;
        padding: 20px 20px;
       
    }

    .laser-image-section {  
      
        padding: 0px;
        
    }
    
    .laser-image-section, .laser-content-section {
        max-width: 100%;
        align-self: center;
    }

    .laser-usp {
        flex: 1 1 100%;
    }
    .laser-content-section {
        flex: 1;
       
        max-width: 100%;
        
        padding: 40px;
    }
} */